<header id="header-area">
    <div class="preheader-area">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-6 col-md-0 col-sm-0 col-xs-0" id="ColumnaFecha">-->
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6 text-right">
                    <div class="preheader-right">
                        <!--<a title="Asesoría Admisiones" class="btn-auth btn-auth btn-arriba" href="#" data-toggle="modal" data-target="#modalAdmisiones"><i class="fa fa-handshake-o" aria-hidden="true"></i> Asesoría Admisiones</a>-->
                        <a id="btnadmisiones" title="Asesoría-Admisiones" class="btn-auth btn-arriba" href="#" data-toggle="modal" data-target="#modalAdmisiones" style="background: #ffe156; color: #2c3e50"><img src="/img/Logo_asesor_fon.png" alt="Logo_asesor" width="26" height="26" /> Asesoría - Admisiones</a>
                        <a title="Ingresar al Aula virtual" class="btn-auth btn-auth btn-arriba" href="https://aulavirtual.unicab.org/login" target="_blank"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Aula Virtual.</a>
                        <a title="Ingresar a registro académico" class="btn-auth btn-auth btn-arriba" href="https://unicab.org/registro/"><i class="fa fa-list-alt" aria-hidden="true"></i> Registro Académico.</a>
                        <a title="Correo Institucional" class="btn-auth btn-auth btn-arriba btn_g" href="https://mail.google.com/a/unicab.org/" target="_blank"><i class="fa-brands fa-google" aria-hidden="true"></i> Correo</a>
                        <!--<a id="btnblog" title="Blog" class="btn-auth btn-auth btn-arriba btn_g" href="/#blog-area" style="background: #1455a0;"><img src="images/Icono_blog.png" alt="Logo_blog" width="26" height="26" /> Blog</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
